* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.leftPart {
  position: fixed;  
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #F9FAFC;
  height: 100%;
  padding-top: 20px;
  z-index: 50;
}

.logoCont {
  display: flex;
  height: 122px;
  width: fit-content; 
  padding: 5px 10px 10px 56px;
}

.logo {
  width: 157px;
  height: 45px;
  background-image: url('./img/logo2.svg');
  background-size: cover;
}

.openBtn {
  width: 32px;
  height: 32px;
  background-color: white;
  background-image: url('./img/btnImg/_base/Vector.png');
  background-repeat: no-repeat;
  border: none;
  align-self: flex-start;
  margin-top: 13px;
  margin-left: 40px;
  cursor: pointer;
}

.navMenu  {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.navBar {
  color:#495057;
  font-size: 16px;
  line-height: 45px;
}

.navItem {
  padding-left: 56px;
}

.navItem:hover {
  background-color: #e3e6ea;
}

.companyName {
  color: #495057;
  margin: 0 auto;
  line-height: 33px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 21px;
}

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 95px;
  width: 100%;
  background-color: #fff;
}

.headerWrapper {
  display: flex;
  height: 95px;
  width: 100%;
  justify-content: space-between;
  max-width: 1610px;
  padding: 16px 68px 19px 0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
  align-self: center;
}

.link {
  text-decoration: none;
  color: #212529;
}

.input {
  font-weight: 500;
  font-size: 12px;
  line-height: 37px;
  width: 96px;
  height: 50px;
  border: 1px solid #D9D9D9;
  border-radius: 45px;
  background-color: #fff;
  text-decoration: none;
}
.login {
  font-weight: 500;
  font-size: 12px;
  line-height: 37px;
  width: 128px;
  height: 50px;
  border: none;
  border-radius: 45px;
  background-color: #D9D9D9;
  margin-left: 5px;
}

.input:hover {
  background-color: #D9D9D9;
  border: none;
}

.login:hover {
  border: 1px solid #D9D9D9;
  background-color: #fff;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  max-width: 1570px;
  margin: 0 auto;
  height: fit-content;
  padding-top: 100px;
  margin-bottom: 100px;
}

.cardItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 285px;
  height: 345px;
  background-color: rgb(246, 246, 246);
  border-radius: 10px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.cardItem:hover {
  box-shadow: 3px 3px 10px 5px rgb(128, 127, 127);
}

.cardImage {
  width: 100%;
  height: 60%;
  border-radius: 10px 10px 0 0;
  background-size: cover;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 30%;
  width: 100%;
}

.cardDescription {
  color: #495057;
  font-size: 14px; 
  padding: 0 10px 0 12px;
  line-height: 24px;
}

.cardPrice {
  padding: 5px 0 10px 15px;
  font-weight: 600;
  color: #212529;
  font-size: 18px;
  line-height: 24px;
}

.user {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 15%;
}

.userImg {
  width: 40px;
  height: 40px;
  background-color: rgb(225, 225, 225);
  border-radius: 50%;
}

.userName {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 600;
  color:#212529;
  line-height: 13px;
}

.userLogin {
  font-size: 11px;
  font-weight: 400;
  color:#495057;
  line-height: 13px;
  margin-bottom: 0;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-left: 8px;
}

.cardOpen {
  display: flex;
  flex-wrap: wrap;
  /* min-width: fit-content; */
  max-width: 1610px;
  height: fit-content;
  background-color: #fff;
  padding-top: 100px;
  padding-left: 35px;
  margin: 0 auto;
}

.cardOpenInfo {
  display: flex;
  flex-direction: column;
  width: 640px;
  background-color: #fff;
  height: 100%;
  margin-left: 20px;
  margin-right: 16px;
}

.cardOpenPrice {
  z-index: 3;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 205px;
  background-color: #D9D9D9;
  border-radius: 14px;
  padding: 30px 10px 10px 10px;
}

.price {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  color: #212529;
  margin-left: 16px;
}

.priceBtns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 297px;
  height: 116px;
  margin-top: 18px;
}

.buyBtn, .commBtn {
  width: 297px;
  height: 53px;
  background-color: #F9F6F6;
  border-radius: 9px;
  color: #212529;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border: none;
}

.buyBtn:hover, .commBtn:hover {
  background-color: #ebebee;
}

.titleCardOpen {
  min-height: 70px;
  width: 100%;
  text-align: start;
  padding-top: 30px;
  font-weight: 400;
  font-size: 21px;
  line-height: 19px;
  color: #495057;
}

.cardOpenImg {
  height: 468px;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

.descriptionTitle {
  margin-top: 10px; 
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  font-style: italic;
}

.descriptionCardOpen {
  margin-top: 10px;
  width: 85%;
  height: fit-content;
  font-size: 14px;
  line-height: 24px;
  color: #212529;
  white-space: pre-line;
}

.tags {
  margin-top: 30px;
  width: 95%;
  height: fit-content;
  font-size: 14px;
  line-height: 24px;
  color: #212529;
  white-space: pre-line;
  margin-bottom: 26px;
}

.userInCardOpen {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  margin-bottom: 5px;
}

.userImgCardOpen {
  width: 40px;
  height: 40px;
  background-color: #D9D9D9;
  border-radius: 50%;
  margin-right: 16px;
}

.userNames {
  display: flex;
  flex-direction: column;
}

.userFullName {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #212529;
}

.userNick {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #495057;
}

.cardLink {
  text-decoration: none;
}

.example_menu {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  background-image: radial-gradient(circle at center, #899Dc4, #495D84);
  background-size: cover;
  background-repeat: no-repeat;
  height: 170px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
  font-weight: 300;
}

.all {
  display: flex;
  -webkit-perspective: 10px;
  perspective: 10px;
  -webkit-transform: perspective(300px) rotateX(20deg);
  transform: perspective(300px) rotateX(20deg);
  will-change: perspective;
  -webkit-perspective-origin: center center;
  perspective-origin: center center;
  transition: all 1.3s ease-out;
  justify-content: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.all:hover {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  transition: all 1.3s ease-in;
  -webkit-transform: perspective(10000px) rotateX(0deg);
  transform: perspective(10000px) rotateX(0deg);
}

.all:hover .text {
  opacity: 1;
}

.all:hover > div {
  opacity: 1;
  transition-delay: 0s;
}

.all:hover .explainer {
  opacity: 0;
}

.left,
.center,
.right,
.lefter,
.righter {
  width: 100px;
  height: 100px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0 0 20px 5px rgba(100, 100, 255, 0.4);
  opacity: 0;
  transition: all .3s ease;
  transition-delay: 1s;
  position: relative;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #58d;
  cursor: pointer;
  background-blend-mode: color-burn;
}

.left:hover,
.center:hover,
.right:hover,
.lefter:hover,
.righter:hover {
  box-shadow: 0 0 30px 10px rgba(100, 100, 255, 0.6);
  background-color: #ccf;
}

.text {
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  transition: all .3s ease;
  bottom: 0;
  left: 5px;
  position: absolute;
  will-change: transform;
  color: #fff;
  text-shadow: 0 0 5px rgba(100, 100, 255, 0.6);
  font-size: 13px;
  text-align: center;
}

.lefter {
  -webkit-transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
  transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/organization-512.png);
}

.left {
  -webkit-transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
  transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/creative_draw-512.png);
}

.center {
  opacity: 1;
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/app_window-512.png);
}

.right {
  -webkit-transform: translateX(30px) translateZ(-25px) rotateY(5deg);
  transform: translateX(30px) translateZ(-25px) rotateY(5deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/cloud_weather-512.png);
}

.righter {
  -webkit-transform: translateX(60px) translateZ(-50px) rotateY(10deg);
  transform: translateX(60px) translateZ(-50px) rotateY(10deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/search-512.png);
}

.explainer {
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  transition: all .6s ease;
  width: 100%;
  height: 100%;
  background-color: #303050;
  background-image: radial-gradient(circle at center top, #cce, #33a);
  border-radius: 10px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ref {
  background-color: #000;
  background-image: linear-gradient(to bottom, #d80, #c00);
  border-radius: 3px;
  padding: 7px 10px;
  position: absolute;
  font-size: 16px;
  bottom: 10px;
  right: 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.ref::first-letter {
  font-size: 12px;
}

@media screen and (max-width: 1500px) {
  .cardList {
    justify-content: center;
  }
}

@media screen and (max-width: 1050px) {

  .cardOpen {
    padding-bottom: 250px;
  }

  .descriptionCardOpen {
    width: 95%;
  }

  .cardOpenPrice {
    bottom: 10px;
    bottom: 10px;
    left: 10px;
  }
  .cardOpenPrice {
    width: 50%;
  }

  .priceBtns {
    width: 100%;
  }

  .buyBtn, .commBtn {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {

  .left,
  .center,
  .right,
  .lefter,
  .righter {
    width: 70px;
    height: 70px;
  }

  .example_menu {
    height: 130px;
  }

  .leftPart {
    width: 40%;
  }

  .navBar {
    color:#495057;
    font-size: 12px;
    line-height: 30px;
  }

  .navItem {
    padding-left: 20px;
  }

  .header {
    position: fixed;
    width: 100%;
    padding-left: 10px;
  }
  .cardList {
    padding: 0;
    padding-top: 100px;
    width: 100vw;
    justify-content: center;
  }

  .card {
    width: 100%;
  }

  .cardOpenInfo {
    width: 100vw;
  }

  .cardOpenImg {
    background-position: 50% 50%;
    margin-top: 10px;
  }

  .userInCardOpen {
    margin-bottom: 20px;
  }

  .priceBtns {
    width: 100%;
  }

  .buyBtn, .commBtn {
    width: 100%;
  }

  .cardItem {
    margin-right: 10px;
  }
}

@media screen and (max-width: 580px) {

  .cardOpenImg {
    height: 350px;
  }

  .titleCardOpen {
    font-size: 16px;
    font-weight: bold;
  }

  .cardOpen {
    padding-left: 0;
  }

  .companyName {
    font-size: 10px;
  }

  .cardList {
    width: 100%;
    margin-bottom: 20px;
  }

  .buttons {
    display: none;
  }

  .headerWrapper {
    justify-content: flex-start;
  }

  .logoCont {
    padding-left: 10px;
  }

  .cardItem {
    flex-direction: row;
    align-items: flex-start;
    margin-left: 16px;
    padding: 0;
    width: 90%;
    height: 140px;
    margin-bottom: 15px;
  }

  .cardImage {
    width: 410px;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background-size: cover;
  }

  .cardInfo {
    padding-top: 7px;
    width: 100%;
    height: 100%;
    align-self: center;
  }

  .cardLink {
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
  }

  .user {
    display: none;
  }

  .cardDescription {
    line-height: normal;
  }
}

@media screen and (max-width: 500px) {

  .explainer {
    font-size: 12px;
  }

  .cardOpenImg {
    height: 300px;
  }

  .text {
    font-size: 11px;
  }

  .left,
  .center,
  .right,
  .lefter,
  .righter {
    width: 50px;
    height: 50px;
  }

  .example_menu {
    height: 110px;
  }

}

@media screen and (max-width: 450px) {

  .cardOpenImg {
    height: 200px;
  }

}

@media screen and (max-width: 400px) {

  .text {
    font-size: 10px;
    left: 0;
    top: 10px;
  }

  .left,
  .center,
  .right,
  .lefter,
  .righter {
    width: 40px;
    height: 40px;
  }

  .example_menu {
    height: 90px;
  }

  .cardOpenImg {
    height: 250px;
  }

  .tags {
    margin-bottom: 20px;
  }
  
  .user {
    margin-bottom: 0;
  }

  .cardItem {
    height: 130px;
    max-height: 150px;
  }
  .cardOpenPrice {
    width: 100%;
    left: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 380px) {

  .cardOpenImg {
    height: 240px;
  }

}

@media screen and (max-width: 350px) {

  .cardOpenImg {
    height: 200px;
  }

}

@media screen and (max-width: 330px) {
  .cardImage {
    min-width: 50%;
  }

  .cardOpenImg {
    height: 200px;
  }
}

@media screen and (max-width: 300px) {

  .cardOpenImg {
    height: 170px;
  }

}

@media screen and (max-width: 250px) {
  .cardOpenImg {
    height: 150px;
  }
}

@media screen and (max-width: 230px) {

  .cardOpenImg {
    height: 120px;
  }

}

@media screen and (max-width: 200px) {

  .cardOpenImg {
    height: 100px;
  }

}

.closeBtn {
  width: 100%;
  align-self: center;
  height: 30px;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 10px;
}

.bttn {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  z-index: 1;
  margin: 20px auto;
  cursor: pointer;
}

.bttn:before {
  content: '+';
  color: #337AB7;
  position: absolute;
  z-index: 2;
  transform: rotate(45deg);
  font-size: 50px;
  line-height: 1;
  top: -5px;
  left: 6px;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}

.bttn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #337AB7;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  transform: scale(0.01);
}

.bttn:hover:after {
  transform: scale(1);
}

.bttn:hover:before {
  transform: scale(0.8) rotate(45deg);
  color: #fff;
}

.open {
  pointer-events: none;
}

.authorization {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 500px;
}

.authorForm {
  width: 80%;
  margin: 0 auto;
}

.authorTitle {
  width: 80%;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

footer {
  width: 100%;
  height: fit-content;
  background-color: #515151;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* .footerLogo {
  width: 157px;
  height: 45px;
  background-image: url('./img/logo2.svg');
  background-size: cover;
} */

/* .footerWrap {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  max-width: 1500px;
} */




