* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.leftPart {
  position: fixed;  
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #F9FAFC;
  height: 100vh;
  padding-top: 20px;
  z-index: 50;
}

.logoCont {
  display: flex;
  height: 122px;
  width: fit-content; 
  padding: 5px 10px 10px 56px;
}

.logo {
  width: 157px;
  height: 45px;
  background-image: url('./img/logo2.svg');
  background-size: cover;
}

.openBtn {
  width: 32px;
  height: 32px;
  background-color: white;
  background-image: url('./img/btnImg/_base/Vector.png');
  background-repeat: no-repeat;
  border: none;
  align-self: flex-start;
  margin-top: 13px;
  margin-left: 40px;
  cursor: pointer;
}

.navMenu  {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.navBar {
  color:#495057;
  font-size: 16px;
  line-height: 45px;
}

.navItem {
  padding-left: 56px;
}

.navItem:hover {
  background-color: #e3e6ea;
}

.companyName {
  color: #495057;
  padding-left: 56px;
  line-height: 33px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 21px;
}

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 95px;
  width: 100%;
  background-color: #fff;
}

.headerWrapper {
  display: flex;
  height: 95px;
  width: 100%;
  justify-content: space-between;
  max-width: 1610px;
  padding: 16px 68px 19px 0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
  align-self: center;
}

.link {
  text-decoration: none;
  color: #212529;
}

.input {
  font-weight: 500;
  font-size: 12px;
  line-height: 37px;
  width: 96px;
  height: 50px;
  border: 1px solid #D9D9D9;
  border-radius: 45px;
  background-color: #fff;
  text-decoration: none;
}
.login {
  font-weight: 500;
  font-size: 12px;
  line-height: 37px;
  width: 128px;
  height: 50px;
  border: none;
  border-radius: 45px;
  background-color: #D9D9D9;
  margin-left: 5px;
}

.input:hover {
  background-color: #D9D9D9;
  border: none;
}

.login:hover {
  border: 1px solid #D9D9D9;
  background-color: #fff;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  max-width: 1505px;
  margin: 0 auto;
  height: fit-content;
  padding-top: 100px;
}

.cardItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 285px;
  height: 345px;
  background-color: rgb(246, 246, 246);
  border-radius: 10px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.cardItem:hover {
  box-shadow: 3px 3px 10px 5px rgb(128, 127, 127);
}

.cardImage {
  width: 100%;
  height: 60%;
  border-radius: 10px 10px 0 0;
  background-size: cover;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 30%;
  width: 100%;
}

.cardDescription {
  color: #495057;
  font-size: 14px; 
  padding: 0 10px 0 12px;
  line-height: 24px;
}

.cardPrice {
  padding: 5px 0 10px 15px;
  font-weight: 600;
  color: #212529;
  font-size: 18px;
  line-height: 24px;
}

.user {
  display: flex;
  align-items: center;
  width: 100%;
  height: 15%;
}

.userImg {
  width: 40px;
  height: 40px;
  background-color: rgb(225, 225, 225);
  border-radius: 50%;
}

.userName {
  font-size: 12px;
  font-weight: 600;
  color:#212529;
  line-height: 13px;
}

.userLogin {
  font-size: 11px;
  font-weight: 400;
  color:#495057;
  line-height: 13px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.cardOpen {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  height: fit-content;
  background-color: #fff;
  padding: 88px 38px 0 288px;
}

.cardOpenInfo {
  display: flex;
  flex-direction: column;
  width: 640px;
  background-color: #fff;
  height: 100%;
  margin-left: 20px;
  margin-right: 16px;
}

.cardOpenPrice {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 205px;
  background-color: #D9D9D9;
  border-radius: 14px;
  padding: 30px 10px 10px 10px;
}

.price {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  color: #212529;
  margin-left: 16px;
}

.priceBtns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 297px;
  height: 116px;
  margin-top: 18px;
}

.buyBtn, .commBtn {
  width: 297px;
  height: 53px;
  background-color: #F9F6F6;
  border-radius: 9px;
  color: #212529;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border: none;
}

.buyBtn:hover, .commBtn:hover {
  background-color: #ebebee;
}

.titleCardOpen {
  min-height: 70px;
  width: 100%;
  text-align: start;
  padding-top: 30px;
  font-weight: 400;
  font-size: 21px;
  line-height: 19px;
  color: #495057;
}

.cardOpenImg {
  height: 468px;
  width: 100%;
  background-size: cover;
}

.descriptionTitle {
  margin-top: 10px; 
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  font-style: italic;
}

.descriptionCardOpen {
  margin-top: 10px;
  width: 85%;
  height: fit-content;
  font-size: 14px;
  line-height: 24px;
  color: #212529;
}

.tags {
  margin-top: 30px;
  width: 95%;
  height: fit-content;
  font-size: 14px;
  line-height: 24px;
  color: #212529;
  margin-bottom: 26px;
}

.userInCardOpen {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  margin-bottom: 5px;
}

.userImgCardOpen {
  width: 40px;
  height: 40px;
  background-color: #D9D9D9;
  border-radius: 50%;
  margin-right: 16px;
}

.userNames {
  display: flex;
  flex-direction: column;
}

.userFullName {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #212529;
}

.userNick {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #495057;
}

.cardLink {
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .navBar {
    color:#495057;
    font-size: 12px;
    line-height: 30px;
  }

  .leftPart {
    width: 30%;
  }

  .navItem {
    padding-left: 10px;
  }

  .leftPart{
    display: none;
  }
  .header {
    width: 100%;
    justify-content: center;
    padding-left: 10px;
  }
  .cardList {
    padding: 0;
    padding-top: 100px;
    width: 100vw;
    justify-content: center;
  }

  .card {
    width: 100%;
  }

  .cardOpen {
    width: 100vw;
    padding: 0;
  }

  .cardOpenInfo {
    width: 100vw;
  }

  .cardOpenImg {
    max-width: 400px;
  }

  .userInCardOpen {
    margin-bottom: 20px;
  }

  .cardOpenPrice {
    width: 100%;
  }

  .priceBtns {
    width: 100%;
  }

  .buyBtn, .commBtn {
    width: 100%;
  }

  .cardItem {
    margin-right: 10px;
  }
}

@media screen and (max-width: 580px) {
  .buttons {
    display: none;
  }

  .headerWrapper {
    justify-content: flex-start;
  }

  .logoCont {
    padding-left: 10px;
  }

  .cardItem {
    flex-direction: row;
    align-items: flex-start;
    margin-left: 16px;
    padding: 0;
    width: 90%;
    height: 140px;
    margin-bottom: 15px;
  }

  .cardImage {
    width: 410px;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background-size: cover;
  }

  .cardInfo {
    padding-top: 7px;
    width: 100%;
    height: 100%;
    align-self: center;
  }

  .cardLink {
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
  }

  .user {
    display: none;
  }

  .cardDescription {
    line-height: normal;
  }
}

@media screen and (max-width: 400px) {
  .cardItem {
    height: 120px;
  }
}

@media screen and (max-width: 330px) {
  .cardImage {
    min-width: 50%;
  }
}

@media screen and (max-width: 1500px) {
  .cardList {
    width: fit-content;
    justify-content: center;
  }
}

.open {
  filter: blur(10px);
  pointer-events: none;
}

.closeBtn {
  width: 100%;
  align-self: center;
  height: 30px;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 10px;
}

.bttn {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  z-index: 1;
  margin: 20px auto;
  cursor: pointer;
}

.bttn:before {
  content: '+';
  color: #337AB7;
  position: absolute;
  z-index: 2;
  transform: rotate(45deg);
  font-size: 50px;
  line-height: 1;
  top: -5px;
  left: 6px;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}

.bttn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #337AB7;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  transform: scale(0.01);
}

.bttn:hover:after {
  transform: scale(1);
}

.bttn:hover:before {
  transform: scale(0.8) rotate(45deg);
  color: #fff;
}


